.btn(@color, @bg-color, @hvr-color) {
  color: @color;
  background-color: @bg-color;
  padding: 25px 0px;
  width: 235px;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.1s ease;
  white-space: normal;
  &:hover,
  &.active {
    .ease-bg();
    background-color: @hvr-color;
    cursor: pointer;
  }
  @media @mobile {
    width: 49%;
    padding: 17px 0;
    font-size: 14px;
  }
}
