/*===CssFileBegin===*/
/*CssFileName:bootstrap.css*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active {
  outline: 0;
}
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
body {
  margin: 0;
  box-sizing: border-box;
}
.prodigy-roi-calculator .accordion {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0 auto;
}
.prodigy-roi-calculator .accordion-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 0;
  color: #53565A;
  margin-bottom: 25px;
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .accordion-title {
    font-size: 14px;
  }
}
.prodigy-roi-calculator .accordion-title > .mi {
  line-height: 0;
  position: relative;
  top: 4px;
  margin-left: 10px;
}
.prodigy-roi-calculator .accordion-title:hover {
  cursor: pointer;
}
.prodigy-roi-calculator .banner {
  background-color: #001E46;
  background-image: linear-gradient(to bottom, #001E46, #004b87);
  padding: 120px 0;
}
@media only screen and (max-width: 1024px) {
  .prodigy-roi-calculator .banner {
    padding: 60px 55px;
  }
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .banner {
    padding: 40px 30px;
  }
}
.prodigy-roi-calculator .banner__copy {
  max-width: 995px;
  margin: 0 auto;
  color: #FFFFFF;
}
.prodigy-roi-calculator .banner__copy h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1024px) {
  .prodigy-roi-calculator .banner__copy h1 {
    font-size: 34px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .banner__copy h1 {
    font-size: 28px;
  }
}
.prodigy-roi-calculator .banner__copy h3 {
  font-weight: 400;
  margin-bottom: 2rem;
}
.prodigy-roi-calculator .banner__copy p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.prodigy-roi-calculator .banner__copy p span {
  display: none;
}
@media only screen and (max-width: 768px) {
  .prodigy-roi-calculator .banner__copy p span {
    margin-left: 8px;
    position: relative;
    top: 3px;
  }
  .prodigy-roi-calculator .banner__copy p span.is-active {
    display: inline;
  }
}
@media only screen and (max-width: 1024px) {
  .prodigy-roi-calculator .banner__copy p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .prodigy-roi-calculator .banner__copy p:hover {
    cursor: pointer;
  }
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .banner__copy p {
    font-size: 14px;
  }
}
.prodigy-roi-calculator .banner__copy ol {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 16px;
  line-height: 1.19;
}
@media only screen and (max-width: 1024px) {
  .prodigy-roi-calculator .banner__copy ol {
    padding-inline-start: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .prodigy-roi-calculator .banner__copy ol {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .banner__copy ol {
    padding-inline-start: 14px;
  }
}
.prodigy-roi-calculator .banner__copy ol li {
  font-size: 16px;
  font-weight: 400;
}
@media only screen and (max-width: 1024px) {
  .prodigy-roi-calculator .banner__copy ol li {
    font-size: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .banner__copy ol li {
    font-size: 14px;
  }
}
.prodigy-roi-calculator {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0 auto;
  position: relative;
  padding-bottom: 75px;
}
.prodigy-roi-calculator .bold {
  font-weight: 600;
}
.prodigy-roi-calculator .error {
  font-size: 0.9375rem;
  color: #E35205;
  text-align: center;
  padding: 0.875rem 0.875rem;
}
.prodigy-roi-calculator .progress-bar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background-color: #FFFFFF;
  z-index: 20000;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
  border-top: 1px solid #B1B3B3;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
@media only screen and (max-width: 768px) {
  .prodigy-roi-calculator .progress-bar {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .progress-bar {
    padding: 15px 0;
  }
}
.prodigy-roi-calculator .bullet {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.prodigy-roi-calculator .bullet .bullet-o {
  display: inline-block;
  height: 17px;
  width: 17px;
  border-radius: 100px;
  margin: 0px 5px;
  background-color: #B1B3B3;
}
@media only screen and (max-width: 1024px) {
  .prodigy-roi-calculator .bullet .bullet-o {
    height: 15px;
    width: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .bullet .bullet-o {
    height: 12px;
    width: 12px;
  }
}
.prodigy-roi-calculator .bullet .bullet-line {
  display: inline-block;
  height: 2px;
  width: 40px;
  background-color: #B1B3B3;
}
.prodigy-roi-calculator .bullet.is-active .bullet-o,
.prodigy-roi-calculator .bullet.is-active .bullet-line {
  background-color: #53565A;
}
.prodigy-roi-calculator .bullet.is-inactive .bullet-o,
.prodigy-roi-calculator .bullet.is-inactive .bullet-line {
  background-color: #B1B3B3;
}
.prodigy-roi-calculator .references {
  max-width: 1024px;
  margin: 0 auto;
  display: block;
  padding-top: 65px;
}
@media only screen and (max-width: 1024px) {
  .prodigy-roi-calculator .references {
    width: auto;
    padding: 60px 55px;
  }
}
@media only screen and (max-width: 768px) {
  .prodigy-roi-calculator .references {
    padding: 50px 40px;
  }
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .references {
    padding: 35px 20px;
  }
}
.prodigy-roi-calculator .references p.about {
  color: #888B8D;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 35px;
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .references p.about {
    font-size: 14px;
  }
}
.prodigy-roi-calculator .references p {
  color: #888B8D;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 25px;
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .references p {
    margin-bottom: 20px;
    font-size: 12px;
  }
}
.prodigy-roi-calculator .references p.references__title {
  color: #53565A;
  font-weight: 600;
}
.prodigy-roi-calculator .references ul {
  list-style: none;
  padding-inline-start: 0;
  margin-top: 10px;
  margin-bottom: 0px;
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .references ul {
    margin-bottom: 20px;
  }
}
.prodigy-roi-calculator .references ol {
  padding-inline-start: 0.9rem;
  margin-top: 10px;
  margin-bottom: 35px;
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .references ol {
    margin-bottom: 20px;
  }
}
.prodigy-roi-calculator .references ul li,
.prodigy-roi-calculator .references ol li {
  color: #888B8D;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 5px;
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .references ul li,
  .prodigy-roi-calculator .references ol li {
    font-size: 12px;
  }
}
.prodigy-roi-calculator .calculator-screens {
  max-width: 995px;
  margin: 0 auto;
  text-align: center;
  padding: 150px 0;
  color: #53565A;
}
@media only screen and (max-width: 1024px) {
  .prodigy-roi-calculator .calculator-screens {
    padding: 125px 0;
  }
}
@media only screen and (max-width: 768px) {
  .prodigy-roi-calculator .calculator-screens {
    padding: 100px 40px;
  }
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .calculator-screens {
    padding: 40px 20px;
  }
}
.prodigy-roi-calculator .calculator-screens ::placeholder {
  color: #B1B3B3;
}
.prodigy-roi-calculator .calculator-screens :-ms-input-placeholder {
  color: #B1B3B3;
}
.prodigy-roi-calculator fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}
.prodigy-roi-calculator legend {
  padding-inline-start: 0;
  padding-inline-end: 0;
  display: none;
}
.prodigy-roi-calculator .input-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 25px;
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .input-row {
    max-width: 100%;
    width: 100%;
  }
}
.prodigy-roi-calculator .identifier {
  font-size: 12px;
  position: absolute;
  top: -20px;
  right: 16px;
}
.prodigy-roi-calculator input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #FFFFFF;
  font-size: 20px;
  border: 1px solid #707070;
  border-radius: 0;
  box-shadow: none;
  width: 100px;
  padding: 15px 0;
  text-align: center;
}
.prodigy-roi-calculator input.ghost-input {
  border: 0 none;
}
@media only screen and (max-width: 768px) {
  .prodigy-roi-calculator input {
    font-size: 18px;
    padding: 12px 0;
  }
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator input {
    font-size: 14px;
    padding: 10px 0;
  }
}
.prodigy-roi-calculator label {
  font-size: 20px;
  display: inline-block;
  text-align: left;
  margin-right: 40px;
}
@media only screen and (max-width: 768px) {
  .prodigy-roi-calculator label {
    font-size: 18px;
  }
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator label {
    font-size: 14px;
  }
}
.prodigy-roi-calculator .patient-groups {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  max-width: 140px;
  margin: 0 auto;
  margin-bottom: 60px;
}
@media only screen and (max-width: 768px) {
  .prodigy-roi-calculator .patient-groups {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .patient-groups {
    margin-bottom: 25px;
  }
}
.prodigy-roi-calculator .patient-groups label {
  margin-right: 0;
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .patient-groups label {
    font-size: 16px;
  }
}
.prodigy-roi-calculator .patient-groups li {
  margin-bottom: 12px;
}
.prodigy-roi-calculator input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #B1B3B3;
  border-radius: 0;
  background-color: #F6F6F6;
  width: 16px;
  height: 16px;
  padding: 2px 2px;
  display: inline-block;
  position: relative;
  top: 1.5px;
  margin-right: 15px;
}
.prodigy-roi-calculator input[type="checkbox"]:hover {
  cursor: pointer;
}
.prodigy-roi-calculator input[type="checkbox"]:checked {
  border-color: #0085CA;
  background-color: #FFFFFF;
}
.prodigy-roi-calculator input[type="checkbox"]:checked:after {
  font-family: "MITG Icons" !important;
  content: '\e17a';
  font-size: 10px;
  position: absolute;
  top: 2px;
  left: 2.5px;
  color: #0085CA;
}
.prodigy-roi-calculator .calculator-screen {
  margin: 0 auto;
  display: none;
}
.prodigy-roi-calculator .calculator-screen.is-visible {
  display: block;
}
.prodigy-roi-calculator .screen-title {
  color: #001E46;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}
.prodigy-roi-calculator .screen-title > span {
  font-weight: 400;
  display: block;
}
@media only screen and (max-width: 768px) {
  .prodigy-roi-calculator .screen-title {
    font-size: 28px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .screen-title {
    font-size: 22px;
    margin-bottom: 35px;
  }
}
.prodigy-roi-calculator .btn--next {
  color: #FFFFFF;
  background-color: #0085CA;
  padding: 25px 0px;
  width: 235px;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.1s ease;
  white-space: normal;
}
.prodigy-roi-calculator .btn--next:hover,
.prodigy-roi-calculator .btn--next.active {
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: #00A9E0;
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .btn--next {
    width: 49%;
    padding: 17px 0;
    font-size: 14px;
  }
}
.prodigy-roi-calculator .btn--previous {
  color: #FFFFFF;
  background-color: #004B87;
  padding: 25px 0px;
  width: 235px;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.1s ease;
  white-space: normal;
  margin-right: 12px;
}
.prodigy-roi-calculator .btn--previous:hover,
.prodigy-roi-calculator .btn--previous.active {
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: #00A9E0;
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .btn--previous {
    width: 49%;
    padding: 17px 0;
    font-size: 14px;
  }
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .btn--previous {
    margin-right: 0;
  }
}
.prodigy-roi-calculator .btn-row {
  margin-top: 35px;
}
@media only screen and (max-width: 500px) {
  .prodigy-roi-calculator .btn-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
  }
}
.prodigy-roi-calculator .table-wrapper {
  max-width: 900px;
  margin: 0 auto;
  overflow-x: auto;
}
@media only screen and (max-width: 1024px) {
  .prodigy-roi-calculator .table-wrapper {
    max-width: 800px;
  }
}
@media only screen and (max-width: 768px) {
  .prodigy-roi-calculator .table-wrapper {
    max-width: 680px;
  }
}
.prodigy-roi-calculator table {
  width: 100%;
  min-height: 0.01%;
  text-align: left;
  border-collapse: collapse;
  margin: 0 auto;
  white-space: pre-wrap;
}
.prodigy-roi-calculator table .table-heading {
  color: #001E46;
  background-color: #F6F6F6;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  padding: 15px 20px;
}
.prodigy-roi-calculator table tr th {
  color: #53565A;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
}
.prodigy-roi-calculator table tr td {
  color: #53565A;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
}
.prodigy-roi-calculator table,
.prodigy-roi-calculator th,
.prodigy-roi-calculator td {
  border: 1px solid #B1B3B3;
}
