.prodigy-roi-calculator {
  .accordion {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0 auto;
  }

  .accordion-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 0;
    color: @charcoal-gray;
    margin-bottom: 25px;
    @media @mobile {
      font-size: 14px;
    }

    > .mi {
      line-height: 0;
      position: relative;
      top: 4px;
      margin-left: 10px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
