.prodigy-roi-calculator {
  .banner {
    background-color: @navy-blue;
    background-image: linear-gradient(to bottom, #001E46, #004b87);
    padding: 120px 0;
    @media @landscape {
      padding: 60px 55px;
    }
    @media @mobile {
      padding: 40px 30px;
    }
  }

  .banner__copy {
    max-width: 995px;
    margin: 0 auto;
    color: @white;

    h1 {
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 30px;
      @media @landscape {
        font-size: 34px;
        margin-bottom: 20px;
      }
      @media @mobile {
        font-size: 28px;
      }
    }

    h3 {
       font-weight: 400;
       margin-bottom: 2rem;
    }

    p {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 20px;
      span {
        display: none;
        @media @portrait {
          margin-left: 8px;
          position: relative;
          top: 3px;
          &.is-active {
            display: inline;
          }
        }
      }
      @media @landscape {
        font-size: 15px;
      }
      @media @portrait {
        &:hover {
          cursor: pointer;
        }
      }
      @media @mobile {
        font-size: 14px;
      }
    }

    ol {
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 16px;
      line-height: 1.19;
      @media @landscape {
        padding-inline-start: 15px;
      }
      @media @portrait {
        display: none;
      }
      @media @mobile {
        padding-inline-start: 14px;
      }
    }

    ol li {
      font-size: 16px;
      font-weight: 400;
      @media @landscape {
        font-size: 15px;
      }
      @media @mobile {
        font-size: 14px;
      }
    }
  }
}
