.prodigy-roi-calculator {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0 auto;
  position: relative;
  padding-bottom: 75px;

  .bold {
    font-weight: 600;
  }

  .error {
    font-size: 0.9375rem;
    color: #E35205;
    text-align: center;
    padding: 0.875rem 0.875rem;
   }
}
