.prodigy-roi-calculator {
  .progress-bar {
    .flexbox();
    .flex-wrap(nowrap);
    .justify-content(center);
    .align-items(center);
    background-color: @white;
    z-index: 20000;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
    border-top: 1px solid @light-gray;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    @media @portrait {
      padding: 20px 0;
    }
    @media @mobile {
      padding: 15px 0;
    }
  }

  .bullet {
    .flexbox();
    .align-items(center);

    .bullet-o {
      display: inline-block;
      height: 17px;
      width: 17px;
      border-radius: 100px;
      margin: 0px 5px;
      background-color: @light-gray;
      @media @landscape {
        height: 15px;
        width: 15px;
      }
      @media @mobile {
        height: 12px;
        width: 12px;
      }
    }

    .bullet-line {
      display: inline-block;
      height: 2px;
      width: 40px;
      background-color: @light-gray;
    }

    &.is-active {
      .bullet-o,
      .bullet-line {
        background-color: @charcoal-gray;
      }
    }

    &.is-inactive {
      .bullet-o,
      .bullet-line {
        background-color: @light-gray;
      }
    }
  }
}
