.prodigy-roi-calculator {
  .references {
    max-width: 1024px;
    margin: 0 auto;
    display: block;
    padding-top: 65px;
    @media @landscape {
      width: auto;
      padding: 60px 55px;
    }
    @media @portrait {
      padding: 50px 40px;
    }
    @media @mobile {
      padding: 35px 20px;
    }

    p.about {
      color: @dark-gray;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 35px;
      @media @mobile {
        font-size: 14px;
      }
    }

    p {
      color: @dark-gray;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 25px;
      @media @mobile {
        margin-bottom: 20px;
        font-size: 12px;
      }
    }

    p.references__title {
      color: @charcoal-gray;
      font-weight: 600;
    }

    ul {
      list-style: none;
      padding-inline-start: 0;
      margin-top: 10px;
      margin-bottom: 0px;
      @media @mobile {
        margin-bottom: 20px;
      }
    }

    ol {
      padding-inline-start: 0.9rem;
      margin-top: 10px;
      margin-bottom: 35px;
      @media @mobile {
        margin-bottom: 20px;
      }
    }

    ul li,
    ol li {
      color: @dark-gray;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 5px;
      @media @mobile {
        font-size: 12px;
      }
    }
  }

}
