.prodigy-roi-calculator {
  .calculator-screens {
    max-width: 995px;
    margin: 0 auto;
    text-align: center;
    padding: 150px 0;
    color: @charcoal-gray;
    @media @landscape {
      padding: 125px 0;
    }
    @media @portrait {
      padding: 100px 40px;
    }
    @media @mobile {
      padding: 40px 20px;
    }
    ::placeholder {
      color: @light-gray;
    }
    :-ms-input-placeholder {
      color: @light-gray;
    }
  }

  fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
  }

  legend {
    padding-inline-start: 0;
    padding-inline-end: 0;
    display: none;
  }

  .input-row {
    .flexbox();
    .justify-content(space-between);
    .align-items(center);
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 25px;
    @media @mobile {
      max-width: 100%;
      width: 100%;
    }
  }

  .identifier {
    font-size: 12px;
    position: absolute;
    top: -20px;
    right: 16px;
  }

  input {
    .kill-webkit();
    background-color: @white;
    font-size: 20px;
    border: 1px solid @medium-gray;
    border-radius: 0;
    box-shadow: none;
    width: 100px;
    padding: 15px 0;
    text-align: center;
    &.ghost-input {
      border: 0 none;
    }
    @media @portrait {
      font-size: 18px;
      padding: 12px 0;
    }
    @media @mobile {
      font-size: 14px;
      padding: 10px 0;
    }
  }

  label {
    font-size: 20px;
    display: inline-block;
    text-align: left;
    margin-right: 40px;
    @media @portrait {
      font-size: 18px;
    }
    @media @mobile {
      font-size: 14px;
    }
  }

  // ul
  .patient-groups {
    .flexbox();
    .flex-direction(column);
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    max-width: 140px;
    margin: 0 auto;
    margin-bottom: 60px;
    @media @portrait {
      margin-bottom: 35px;
    }
    @media @mobile {
      margin-bottom: 25px;
    }

    label {
      margin-right: 0;
      @media @mobile {
        font-size: 16px;
      }
    }

    li {
      margin-bottom: 12px;
    }
  }

  input[type="checkbox"] {
    .kill-webkit();
    border: 1px solid @light-gray;
    border-radius: 0;
    background-color: @off-white;
    width: 16px;
    height: 16px;
    padding: 2px 2px;
    display: inline-block;
    position: relative;
    top: 1.5px;
    margin-right: 15px;
    &:hover {
      cursor: pointer;
    }
  }

  input[type="checkbox"]:checked {
    border-color: @cobalt-blue;
    background-color: @white;
  }

  input[type="checkbox"]:checked:after {
    font-family: "MITG Icons" !important;
    content: '\e17a';
    font-size: 10px;
    position: absolute;
    top: 2px;
    left: 2.5px;
    color: @cobalt-blue;
  }

  .calculator-screen {
    margin: 0 auto;
    display: none;
    &.is-visible {
      display: block;
    }
  }

  .screen-title {
    color: @navy-blue;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
    > span {
      font-weight: 400;
      display: block;
    }
    @media @portrait {
      font-size: 28px;
      margin-bottom: 40px;
    }
    @media @mobile {
      font-size: 22px;
      margin-bottom: 35px;
    }
  }

  .btn--next {
    .btn(@white, @cobalt-blue, @medium-blue);
  }

  .btn--previous {
    .btn(@white, @medtronic-blue, @medium-blue);
    margin-right: 12px;
    @media @mobile {
      margin-right: 0;
    }
  }

  .btn-row {
    margin-top: 35px;
    @media @mobile {
      .flexbox();
      .flex-wrap(nowrap);
      .justify-content(space-between);
      max-width: 100%;
      width: 100%;
    }
  }

}
