.prodigy-roi-calculator {
  .table-wrapper {
    max-width: 900px;
    margin: 0 auto;
    overflow-x: auto;
    @media @landscape {
      max-width: 800px;
    }
    @media @portrait {
      max-width: 680px;
    }
  }
  table {
    width: 100%;
    min-height: 0.01%;
    text-align: left;
    border-collapse: collapse;
    margin: 0 auto;
    white-space: pre-wrap;

    .table-heading {
      color: @navy-blue;
      background-color: @off-white;
      font-size: 18px;
      font-weight: 600;
      text-align: left;
      padding: 15px 20px;
    }

    tr th {
      color: @charcoal-gray;
      background-color: @white;
      font-size: 16px;
      font-weight: 600;
      padding: 10px 20px;
    }

    tr td {
      color: @charcoal-gray;
      background-color: @white;
      font-size: 16px;
      font-weight: 400;
      padding: 10px 20px;
    }
  }

  table, th, td {
    border: 1px solid @light-gray;
  }
}
