@font-face {
	/* Effra-Light */
	font-family: 'Effra';
	src: url('Effra-Light.eot?#iefix') format('embedded-opentype'), url('Effra-Light.woff') format('woff'), url('Effra-Light.ttf') format('truetype'), url('Effra-Light.svg#Effra-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	/* Effra-Regular */
	font-family: 'Effra';
	src: url('Effra-Regular.eot?#iefix') format('embedded-opentype'), url('Effra-Regular.woff') format('woff'), url('Effra-Regular.ttf') format('truetype'), url('Effra-Regular.svg#Effra-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	/* Effra-Medium */
	font-family: 'Effra';
	src: url('Effra-Medium.eot?#iefix') format('embedded-opentype'), url('Effra-Medium.woff') format('woff'), url('Effra-Medium.ttf') format('truetype'), url('Effra-Medium.svg#Effra-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	/* Effra-Bold */
	font-family: 'Effra';
	src: url('Effra-Bold.eot?#iefix') format('embedded-opentype'), url('Effra-Bold.woff') format('woff'), url('Effra-Bold.ttf') format('truetype'), url('Effra-Bold.svg#Effra-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	/* Effra-Heavy */
	font-family: 'Effra';
	src: url('Effra-Heavy.eot?#iefix') format('embedded-opentype'), url('Effra-Heavy.woff') format('woff'), url('Effra-Heavy.ttf') format('truetype'), url('Effra-Heavy.svg#Effra-Heavy') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	/* Effra-LightItalic */
	font-family: 'Effra';
	src: url('Effra-LightItalic.eot?#iefix') format('embedded-opentype'), url('Effra-LightItalic.woff') format('woff'), url('Effra-LightItalic.ttf') format('truetype'), url('Effra-LightItalic.svg#Effra-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	/* Effra-Italic */
	font-family: 'Effra';
	src: url('Effra-Italic.eot?#iefix') format('embedded-opentype'), url('Effra-Italic.woff') format('woff'), url('Effra-Italic.ttf') format('truetype'), url('Effra-Italic.svg#Effra-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	/* Effra-MediumItalic */
	font-family: 'Effra';
	src: url('Effra-MediumItalic.eot?#iefix') format('embedded-opentype'), url('Effra-MediumItalic.woff') format('woff'), url('Effra-MediumItalic.ttf') format('truetype'), url('Effra-MediumItalic.svg#Effra-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	/* Effra-BoldItalic */
	font-family: 'Effra';
	src: url('Effra-BoldItalic.eot?#iefix') format('embedded-opentype'), url('Effra-BoldItalic.woff') format('woff'), url('Effra-BoldItalic.ttf') format('truetype'), url('Effra-BoldItalic.svg#Effra-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	/* Effra-HeavyItalic */
	font-family: 'Effra';
	src: url('Effra-HeavyItalic.eot?#iefix') format('embedded-opentype'), url('Effra-HeavyItalic.woff') format('woff'), url('Effra-HeavyItalic.ttf') format('truetype'), url('Effra-HeavyItalic.svg#Effra-HeavyItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}
