@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?drnwxb');
  src:  url('fonts/icomoon.eot?drnwxb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?drnwxb') format('truetype'),
    url('fonts/icomoon.woff?drnwxb') format('woff'),
    url('fonts/icomoon.svg?drnwxb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none; */
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-brain:before {
  content: "\e900";
}
.icon-ent:before {
  content: "\e901";
}
.icon-general-surgery:before {
  content: "\e902";
}
.icon-heart-beat:before {
  content: "\e903";
}
