// Colors
@white:             #FFFFFF;
@off-white:         #F6F6F6;
@pale-gray:         #E8E8E7;
@light-gray:        #B1B3B3;
@medium-gray:       #707070;
@dark-gray:         #888B8D;
@blue-gray:         #5B7F95;
@charcoal-gray:     #53565A;

@light-blue:        #B9D9EB;
@sky-blue:          #71C5E8;
@medium-blue:       #00A9E0;
@cobalt-blue:       #0085CA;
@medtronic-blue:    #004B87;
@navy-blue:         #001E46;

// Media queries
@desktop:      ~"only screen and (max-width: 4000px)";
@laptop:       ~"only screen and (max-width: 1366px)";
@landscape:    ~"only screen and (max-width: 1024px)";
@portrait:     ~"only screen and (max-width: 768px)";
@mobile:       ~"only screen and (max-width: 500px)";

@grid-breakpoints: (
  xs: 0px,
  sm: 500px,
  md: 768px,
  lg: 1024px,
  xl: 1366px,
  xxl: 4000px
);
